:root {
    --primary: #EBEBEB;
    --biru: #6598ff;
    --huruf: #153168;
    --black: #141414;
    --tambahan: #0c1524;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--black);
}
body { 
    background-color: var(--primary);
    font-family: sans-serif;
    color: var(white);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.nav-container {
    width: 100%;
    height: 25px;
    display: flex;
    position: fixed;
    z-index: 9999;
}

.header {
    width: 100%;
    height: 100%;
    padding: 1.4rem;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo {
    width: 10rem;
    display: flex;
    align-items: center;
}
.navbar-logo img {
    width: 100%;
    height: 100%;
}
.navbar ul {
    list-style: none;
}
.navbar>ul {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.navbar ul li {
    position: relative;
}
.navbar ul li a {
    position: relative;
    display: block;
    color: var(--primary);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    padding: 0px 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.navbar ul li a.active,
.navbar ul>li>a:hover {
    color: var(--huruf);
}
#btn-ngl {
    background-color: var(--huruf);
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
    border-bottom: none;
}

#btn-ngl:hover {
    color: var(--huruf);
    background-color: var(--primary);
}
.ser-btn ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.ser-btn ul li a {
    text-decoration: none;
}

#bar-icon {
    display: none;
}
.down-arrow {
    position: absolute;
    right: 0;
    display: inline-block;
    font-size: 25px;
}

@media (min-width:992px) {
    .navbar ul li ul {
        position: absolute;
        border-top: 3px solid var(--huruf);
        list-style: none;
        min-width: 250px;
        background: var(--tambahan);
        padding: 0;
        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 20%);
        border-radius: 0;
        transition: all 0.3s;
        transform: translateY(30px);
        visibility: hidden;
        opacity: 0;
    }

    .navbar ul>li:hover>ul {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    .navbar ul ul li {
        position: relative;
    }
    .navbar ul ul li a {
        display: block;
        color: var(--primary);
        font-weight: 700;
        font-size: 15px;
        padding: 8px 10px;
        line-height: 1.8rem;
        border: 1px solid var(--primary);
        transition: all 0.5s;
    }
    .navbar ul ul li a:hover {
        color: var(--huruf);
        background-color: var(--black);
        border-color: transparent;
        padding-left: 25px;
    }
    .navbar ul li ul ul {
        position: absolute;
        left: 100%;
        top: 0;
    }
}

@media (max-width:1200px) {
    .navbar ul li a {
        font-size: 15px;
        padding: 22px 16px;
    }
}



/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



.profile .heading{
    padding: 4rem 4rem 0 4rem;
}

.profile .heading h1{
    font-size: 3rem;
    color: var(--huruf);
}


.profile .heading p{
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 0.2rem;
    border-bottom: 0.13rem solid var(--black);
}

.laptop .boxes{
    display: flex;
    justify-content: space-around;
}

.laptop .boxes .pinggir{
    margin-top: 18rem;
}

.hp{
    display: none;
}

.box {
    margin: 3rem;
    position: relative;
    overflow: hidden;
    width: 21rem;
    height: 36rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 2rem;
    padding: 2rem;
}
#abid{
    background:url(gambar/foto/abid.JPG);
    background-size: cover;
    background-position: unset; 
}
#adam{
    background:url(gambar/foto/adam.JPG);
    background-size: cover;
    background-position: unset;
}
#aditya{
    background:url(gambar/foto/cuple.JPG);
    background-size: cover;
    background-position: unset;
}
#agha{
    background:url(gambar/foto/agha.JPG);
    background-size: cover;
    background-position: unset;
}
#aldi{
    background:url(gambar/foto/aldi.JPG);
    background-size: cover;
    background-position: unset;
}
#aqila{
    background:url(gambar/foto/aqila.JPG);
    background-size: cover;
    background-position: unset;
}
#arya{
    background:url(gambar/foto/arya.JPG);
    background-size: cover;
    background-position: unset;
}
#zahra{
    background:url(gambar/foto/zahra.JPG);
    background-size: cover;
    background-position: unset;
}
#djoko{
    background:url(gambar/foto/djoko.JPG);
    background-size: cover;
    background-position: unset;
}
#sandy{
    background:url(gambar/foto/elsandy.JPG);
    background-size: cover;
    background-position: unset;
}
#elvira{
    background:url(gambar/foto/elvira.JPG);
    background-size: cover;
    background-position: unset;
}
#fadghom{
    background:url(gambar/foto/fadghom.JPG);
    background-size: cover;
    background-position: unset;
}
#fadel{
    background:url(gambar/foto/fadel.JPG);
    background-size: cover;
    background-position: unset;
}
#merci{
    background:url(gambar/foto/merci.JPG);
    background-size: cover;
    background-position: unset;
}
#iqcy{
    background:url(gambar/foto/iqcy.JPG);
    background-size: cover;
    background-position: unset;
}
#jasson{
    background:url(gambar/foto/jasson.JPG);
    background-size: cover;
    background-position: unset;
}
#joshua{
    background:url(gambar/foto/joshua.JPG);
    background-size: cover;
    background-position: unset;
}
#mareska{
    background: url(gambar/foto/mareskha.JPG);
    background-size: cover;
    background-position: unset;
}
#adib{
    background: url(gambar/foto/Adib.JPG);
    background-size: cover;
    background-position: unset;
}
#najib{
    background:url(gambar/foto/najib.JPG);
    background-size: cover;
    background-position: unset;
}
#fachri{
    background:url(gambar/foto/fahri.JPG);
    background-size: cover;
    background-position: unset;
}
#fauzan{
    background:url(gambar/foto/fauzan.JPG);
    background-size: cover;
    background-position: unset;
}
#hafizh{
    background:url(gambar/foto/apis.JPG);
    background-size: cover;
    background-position: unset;
}
#julfan{
    background:url(gambar/foto/julfan.JPG);
    background-size: cover;
    background-position: unset;
}
#raffi{
    background: url(gambar/foto/rafi.JPG);
    background-size: cover;
    background-position: unset;
}
#revan{
    background:url(gambar/foto/Revan.JPG);
    background-size: cover;
    background-position: unset;
}
#nino{
    background:url(gambar/foto/nino.JPG);
    background-size: cover;
    background-position: unset;
}
#rizky{
    background:url(gambar/foto/rizky.JPG);
    background-size: cover;
    background-position: unset;
}
#sheren{
    background:url(gambar/foto/sheren.JPG);
    background-size: cover;
    background-position: unset;
}
#timothy{
    background:url(gambar/foto/timoti.JPG);
    background-size: cover;
    background-position: unset;
}
#yeremi{
    background:url(gambar/foto/yeremi.JPG);
    background-size: cover;
    background-position: unset;
}
.box::after {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 150%;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,2,1)10%, rgba(255,255,255, 0)55%);
}

.text h3 {
    font-size: 1.2rem;
    position: relative;
    z-index: 100;
    color: var(--biru);
}

.text p {
    position: relative;
    z-index: 100;
    color: white;
    letter-spacing: 0.02rem;
    font-size: 0.8rem;
}


.text {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
    overflow: hidden;
}

.box:hover .text {
    z-index: 100;
    width: 100%;
    height: 24%;
    left: 0;
    bottom: 0;
}

.logo img {
    margin: 0.5rem 0.3rem 0 0;
    position: relative;
    z-index: 100;
    max-width: 30px;
    left: 0;
}

/* footer */
footer {
    background-color: #0e0e0e;
    text-align: center;
    align-items: center;
    margin-top: 3rem;
    display: flex;
    height: auto;
}

footer .lokasinya {
    color: var(--primary);
    text-align: left;
    margin: 1rem auto;
    width: 23rem;
}

footer .loc-logo  {
    display: flex;
}

footer .loc-logo a {
    margin-right: 5px;
    color: var(--primary);
}

footer .lokasinya .loc-logo h3 {
    border-bottom: 2px solid var(--primary);
    margin-bottom: 10px;
}



footer .logo-footer {
    width: 20%;
}

footer .logo-footer img {
    margin: 0 auto;
    width: 100%;
}

footer .writenya {
    margin: 0 auto;
}

footer .socials {
    padding: 1rem 0; 
}

footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
    color: var(--huruf)
}

footer .links {
    margin-bottom: 1.4rem
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit p {
    color: var(--primary);
}

footer .credit a {
    color: var(--primary);
    font-weight: 700;
}




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

@media (max-width:992px) {
    html {
        font-size: 75%;
    }
    .navbar>ul {
        position: absolute;
        background-color: var(--black);
        left: 0;
        right: 0;
        top: 60px;
        width: 90%;
        display: inline-block;
        margin: auto;
        flex-direction: column;
        border-top: 8px solid var(--huruf);
    }
    .navbar-logo  {
        width: 20rem;
    }
    .header {
        height: 60px;
    }
    .ser-btn #bar-icon {
        display: block;
    }
    .ser-btn #bar-icon a {
        color: var(--primary);
        font-size: 27px;
        padding: 1px 5px;
    }
    .navbar ul li {
        border-top: 1px solid var(--primary);
    }
    .navbar ul li a {
        padding: 15px 16px;
    }
    .navbar ul li>ul {
        background-color: var(--black);
    }
    .navbar ul li>ul li a {
        font-size: 13px;
        padding: 10px 25px;
    }

    .navbar ul ul li a .arrow-right {
        font-size: 18px;
        transform: rotate(90deg);
    }

    .navbar ul li a .down-arrow {
        right: 10px;
        top: 9px;
        font-size: 35px;
    }
    .navbar ul li ul li>ul {
        background-color: var(--huruf);
    }

    #menu {
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s;
    }
    #menu.show {
        overflow-y: scroll;
        visibility: visible;
        opacity: 1;
        max-height: 100vh;
    }

    .submenu {
        display: none;
    }
    .submenushow {
        display: block;
    }
    #btn-ngl {
        position: static;
        width: auto; 
        padding: 5px 10px;
        border-radius: 0;
    }
    #btn-ngl:hover {
        background-color: var(--huruf);
    }
}

@media (max-width: 802px) {
    body{
        font-size: 62.5%;
    }

    .profile .heading h1{
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .hp {
        display: flex;
        flex-direction: column;
    }
    
    .laptop{
        display: none;
    }

    .box {
        margin: 2rem auto;
    }
    .navbar-logo {
        width: 16.5rem;
    }
}